{
  "jira_payload": $input.json('$'),
  "jira_project_mappings": {
    "jira_project_key1": {
      "slack_incomming_webhook" : "https://hooks.slack.com/services/XXXX/XXXXX/XXXXXX"
    },
    "jira_project_key2": {
      "slack_incomming_webhook" : "https://hooks.slack.com/services/XXXX/XXXXX/XXXXXX"
    }
  },
  "jira_user_mappings": {
    {
      "jira_user_key": "jira_user_name1",
      "jira_account_id": "5a7939b51xxxxxxxxxxxxxx",
      "slack_name": "slack_user_name1",
      "slack_id": "U8TLXXXXX"
    },
    {
      "jira_user_key": "jira_user_name2",
      "jira_account_id": "5a7939b51xxxxxxxxxxxxxx",
      "slack_name": "slack_user_name2",
      "slack_id": "U8TLXXXXX"
    }
  }
}
